$display: grid;
$border_radius: 10px;
$padding: 10px;
$margin: 10px;
$opacity: 0.5;
$overflow: hidden;
$letter-spacing: 0.5px;

$box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
$box_shadow_hover: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);

%flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
