.card {
  margin: $margin;
  width: 300px;
  height: 250px;
  position: relative;
  border-radius: $border-radius;
  overflow: $overflow;
  box-shadow: $box-shadow;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  .cardInnerImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: $opacity;
  }

  .cardInnerColor {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: $opacity;
  }

  .cardInnerDetails {
    position: relative;
    z-index: 1;
    padding: $padding;

    h1 {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      font-style: italic;
      margin-top: 10px;
    }
  }

  .opening {
    .header {
      display: flex;
      justify-content: space-between;
      height: 70px;
      position: relative;
      align-items: center;
    }

    h2 {
      padding: $padding;
      position: relative;
      z-index: 1;
      font-size: 20px;
      font-weight: bold;
    }

    button {
      margin: 5px;
      background-color: white;
      position: relative;
      z-index: 1;
      color: black;
      border: 1px solid black;
      border-radius: 50%;
      width: 25px;
      height: 25px;

      &:hover {
        color: rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(0, 0, 0, 0.15);
      }
    }

    .content {
      font-size: 16px;

      p {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        padding: $padding;
      }

      li {
        padding: $padding;
      }
    }
  }
}

.opening {
  display: none;
}

.cardInnerImg.active + div.opening,
.cardInnerColor.active + div.opening {
  display: block;
  width: 100%;
  height: 100%;
  background: $background;
  position: relative;
}
