.shoppingCart {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: auto;
  width: 100%;

  h1 {
    text-align: center;
  }

  .shoppingCartItem,
  .shoppingCartTotal {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $primary-color;
    padding: 10px 0;
  }

  .shoppingCartTotal {
    text-transform: uppercase;

    span {
      margin: $margin;
    }
  }

  .cartButton {
    padding: $padding;
    border-radius: $border-radius;
    text-decoration: none;
    text-transform: uppercase;
    color: $background;
    background: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    border: 0;
    max-width: 175px;
    margin: $margin auto;
    display: block;
    width: 100%;
  }
}
