@import "./assets/scss/_reset.scss";
@import "./assets/scss/_common.scss";
@import "./assets/scss/_fonts.scss";
@import "./assets/scss/_colors.scss";
@import "./components/ProductsGrid/ProductsGrid.scss";
@import "./components/ProductCard/ProductCard.scss";
@import "./components/ShoppingCart/ShoppingCart.scss";

body {
  background: #fff;
  font-family: $font_stack;
  font-size: $font_size;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: $letter-spacing;
}
